@-webkit-keyframes move{
	0%{top:0;left:0;}
	10%{top:100px;}
	30%{top:20px; left: 100px;}
	50%{top:30px; left: 400px;}
	100%{top:0; left: 0;}
}

@keyframes move{
	0%{top:100px;}
	10%{top:20px; left: 100px;}
	50%{top:30px; left: 400px;}
	100%{top:0; left: 0;}
}

.anim{
	position: relative;
	height: 100px;
	width: 100px;
	
	-webkit-animation: move 4s linear infinite;
	-o-animation: move 4s linear infinite;
	animation: move 4s linear infinite;
}